.appointment-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px auto;
    padding: 10px 20px;
    width: 90%;
    background-color: #294250;
    color: white;
    font-size: 1.3rem;
}

.appointment-card .people-amount{
    float: right;
}

.sidebar-buttons {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.text-occupied{
    color: red;
    text-shadow: 0 0 1px #EDF9FF ;
}

.text-available{
    color: lawngreen;
    text-shadow: 0 0 1px #294250 ;
}

.text-meeting_soon{
    color: #FFDD00;
    text-shadow: 0 0 1px #294250 ;
}

.status {
    font-size: 1.3rem;
}