.add-room-form {
    align-items: center;
    justify-content: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.add-room-form__wrapper {
    margin: auto;
    display: grid;
    gap: 1em;
}

.add-room-form__grid {
    display: flex;
    gap: 5px;
    text-align: center;
}

.add-room-form input {
    width: 10em;
}

select {
    min-width: 10em;
}